<svg width="42" height="76" viewBox="0 0 42 76" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M40.615 40.085L5.52 75.18a2.924 2.924 0 01-4.135-4.135l33.026-33.026L1.386 4.992A2.924 2.924 0 015.52.856L40.615 35.95a2.924 2.924 0 010 4.135z" fill="#000"/></svg>
