@import 'imports';
@import 'header';
@import 'footer';
@import 'cards';
@import 'tabs';
@import 'modal';
@import 'slider';

body {
	background-color: var(--background-color);
	color: var(--text-color);
	line-height: 1.5;
	font-family: var(--main-font);
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	overflow: hidden;
	border: 0;
	clip: rect(0 0 0 0);
}

.skip-to-main {
	position: absolute;
	top: -120px;
	left: 5px;
	padding: 3px 8px;
	background: var(--light-blue);
	border-radius: 4px;
	font-size: 16px;
	&:focus {
		top: 5px;
	}
}

.container {
	width: 100%;
	max-width: 1030px;
	margin: 0 auto;
}

nav {
	margin-top: 40px !important;
	a {
		margin-right: 40px;
		font-size: 18px;
		line-height: 21px;
		text-decoration: solid underline;
		&:hover {
			text-decoration: none;
			color: var(--purple);
		}
	}
}

section {
	margin-top: 120px;

	h2 {
		margin-bottom: 40px;
		font-weight: normal;
		font-size: 50px;
		line-height: 59px;
	}

	p {
		margin-top: 30px;
		font-size: 22px;
		line-height: 26px;
		&:first-child {
			margin-top: 0;
		}
	}

	a {
		display: inline-block;
		width: fit-content;
		font-size: 22px;
		line-height: 26px;
		color: var(--purple);
		text-decoration: solid underline;
		&:hover {
			text-decoration: none;
		}
	}

	&#museum {
		.content a {
			margin-top: 50px;
		}
	}

	&#lectures {
		p {
			max-width: 700px;
		}
	}
}

.video {
	width: 100%;
	height: 600px;
	border: none;
}
