extends ../extends/layout

block head
	meta(name="description", content="Домашнее задание курса по доступности")
	link(rel="stylesheet", href="styles/main.css")
	title Домашнее задание

block body
	main(tabindex="-1")#main.container
		section(aria-labelledby="section-1")#events
			h2#section-1 Выставки и события
			ul.cards
				+card("images/events-1.png", "", "Святослав Рихтер в кругу друзей. Москва — Коктебель", "Выставка до 20 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
				+card("images/events-2.png", "", "Тату", "Выставка до 27 сентября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
				+card("images/events-3.png", "", "От Дюрера до Матисса. Избранные рисунки из собрания ГМИИ им. А.С. Пушкина", "Выставка до 1 ноября", "Текст о музее текст Текст о музее текст Текст о музее текст Текст о музее текст", "#", "Купить билет")
		section(aria-labelledby="section-2")#museum
			h2#section-2 Музей
			ul.cards
				+card("images/museum-1.png", "", "МЕМОРИАЛЬНАЯ КВАРТИРА С.Т. РИХТЕРА", "", "ул. Большая Бронная, 2/6, 16 этаж, кв. 58", "#", "Подробнее")
				+card("images/museum-2.png", "", "ЦЭВ «МУСЕЙОН»", "", "Колымажный пер., 6/2, 3 (вход с Малого Знаменского переулка)", "#", "Подробнее")
				+card("images/museum-3.png", "", "УСАДЬБА ЛОПУХИНЫХ", "", "Малый Знаменский пер., 3/5с4", "#", "Подробнее")
				+card("images/museum-4.png", "", "УЧЕБНЫЙ МУЗЕЙ", "", "ул. Чаянова, 15", "#", "Подробнее")
				+card("images/museum-5.png", "", "ОТДЕЛ ЛИЧНЫХ КОЛЛЕКЦИЙ", "", "ул. Волхонка, 10", "#", "Подробнее")
				+card("images/museum-5.png", "", "ГАЛЕРЕЯ", "", "ул. Волхонка, 14", "#", "Подробнее")
		section(aria-labelledby="section-3")#live
			h2#section-3 Онлайн-трансляции
		section(aria-labelledby="section-4")#lectures
			h2#section-4 Экскурсии и лекции в прямом эфире
			p С 1 июля вы можете присоединиться к нашим виртуальным мероприятиям — экскурсиям и лекциям для взрослых и детей, оплатив участие на сайте. Встречи будут проходить в прямом эфире на платформе Zoom; предусмотрен формат живого общения с возможностью задавать вопросы экскурсоводу (лектору).
			a(href="#") Подробнее.
			p Мы будем благодарны за любое #[a(href="#") пожертвование]. Все поступившие средства будут направлены на организацию онлайн-проектов для наших посетителей.
