include ../includes/mixins

doctype html
html(lang="ru")
	head
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		block head
	body
		a(href="#main").skip-to-main Перейти к основному контенту
		header.container
			img(src="images/logo.png", alt="Логотип государственного музея изобразительных искусств имени Александра Сергеевича Пушкина")
			div
				form(name="search", role="search")
					input(type="search", placeholder="Искать на странице", name="text")#search
					include ../includes/_icon-zoom
				a(aria-hidden="true").active RU
				a(href="#", hreflang="en", rel="alternate", aria-label="Английская версия сайта") EN
				button(type="button", aria-label="Войти в личный кабинет", aria-haspopup="dialog").js-open-modal
					include ../includes/_icon-user
		nav.container
			a(href="#events") Выставки и события
			a(href="#museum") Музей
			a(href="#live") Онлайн-трансляции
			a(href="#lectures") Экскурсии и лекции в прямом эфире
		block body
		footer
			.container.wrapper
				.links
					a(href="#") Посетителям с ограниченными возможностями
					a(href="#") Билеты и льготы
					a(href="#") Противодействие коррупции
					section(aria-labelledby="section-5").social
						h2(aria-label="Социальные сети")#section-5 Соц. сети
						.social__links
							a(href="#", aria-label="Написать по электронной почте")
								include ../includes/_icon-email
							a(href="#", aria-label="Telegram")
								include ../includes/_icon-telegram
							a(href="#", aria-label="Facebook")
								include ../includes/_icon-facebook
				form(aria-labelledby="section-6", name="subscribe").form
					h2#section-6 Подписка на новости
					label(for="email").visually-hidden Ввести email
					input(type="email", name="email", placeholder="E-mail" required)#email
					button(type="submit") Подписаться
					.checkbox
						input(type="checkbox", name="agreement", required)#agreement
						label(for="agreement") Согласен на обработку персональных данных
		.modal(role="dialog", aria-modal="true", aria-labelledby="modal-heading", tabindex="-1")
			.modal__window
				h2#modal-heading Вход
				form(name="login")
					label(for="login").visually-hidden Логин
					input(type="text", placeholder="Логин", required)#login
					label(for="password").visually-hidden Пароль
					input(type="password", placeholder="Пароль", required)#password
					button(type="submit") Вход
				button(type="button", aria-label="Закрыть окно").modal__close X
		script(src="js/index.js")
